<div>
    <h1>Users List Challenge</h1>
    {{#if toggleShowDetails}}
        <ul class="usersUl">
            {{#each users}}
            <li class="usersLi">
                <div id="id{{this.id}}">{{this.name}}</div>
                <div><img src="{{this.avatar}}"/></div>
                <div><a class="detailsLink" href="/details/{{this.id}}">More...</a></div>
            </li>
            {{/each}}
        </ul>
    {{else}}
        <div class="userDetailsContainer">
            <h1>{{userDetails.name}}</h1>
            <div><img src="{{userDetails.avatar}}"/></div>
            <br>
            <div>ID: {{userDetails.id}}</div>
            <div>Date Created: {{userDetails.createdAt}}</div>
            <br>
            <div><a class="detailsLink" href="/#id{{userDetails.id}}">Back to results</a></div>
        </div>
    {{/if}}
</div>